{% extends 'base.html' %}
{% block title %}
    My Organization
{% endblock %}

{% block content %}
{% if not exists %}
	<p>You have no organization registered. Below, you can
	register one:</p>
	<form action="/register_organization" method="POST">
		<label for="name">Name: </label>
		<input name="name" type="text" id="name" required/>
		<br>
		<label for="description">Description: </label>
		<input name="description" type="text" id="description"\>
		<br>
		<input type="submit" value="Register"/>
	</form>
{% else %}
    <center><h1>My Organization</h1></center>
    <center>Organization Name: {{ org.name }}</center>
    <center>Description: {{ org.description }}</center>
    {% if org.topics != None %}
	    <center>
		    Topics:
		    <ul>
			    {% for topic in org.topics %}
				<li>{{ topic }}</li>
			    {% endfor %}
		    </ul>
    </center>
    {% endif %}
    <!-- Add upcoming events -->
{% endif %}
{% endblock %}
